<!DOCTYPE html>
<html>
	<head>
	  <title>Learning Couchapp, evently and mustache!</title>
	  <link rel="stylesheet" href="style/main.css" type="text/css">
	</head>
  	<script src="vendor/couchapp/loader.js"></script>
	<script type="text/javascript" charset="utf-8">
/*
	var user = 
	{
	  "_id":"org.couchdb.user:bob",
	  "name": "bob",
	  "type":"user",
	  "roles":["_reader"]
	}
	var retUser = $.couch.signup(user, 'bobspassword');
	$.log(retUser);
*/

/*
var db = $.couch.db('urls');

db.saveDoc(
		{"_id": "security"
		,"cloudant": {
    				"balanceit": ["_reader","_writer","_admin"]
  					}
				}
			);*/
			
			
//$.couch.login({name:"bob",password:"bobspassword"});

var user = $.couch.session({success:function(res){
	$.log(res);
}});


	</script>
<script>	
	
</html>